# Fichiers compilés
/target/
/out/

# IDE (IntelliJ, Eclipse, VS Code)
*.iml
/.idea/
/.vscode/
/*.class

# Logs
*.log

# Fichiers temporaires
*.tmp
*.swp
.DS_Store

# Spring Boot specific
spring-boot-devtools.properties

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Environnement
.env
